@tailwind base;
@tailwind components;
@tailwind utilities;



 .item-contato li::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  background-color: #fff;
  right: -50px;
}


